:root {
  font-family: "Inter", sans-serif;
  --container-padding-desktop: 32px;
  --container-padding-mobile: 16px;
}
body {
  overflow-y: hidden;
}
#root {
}

.app {
  height: 100vh;

  &--light {
  }
  &--dark {
  }
  .app-header {
    height: 64px;
    box-shadow:
      0px 4px 4px 0.5px rgba(31, 31, 30, 0.01),
      0px 4px 20px rgba(0, 0, 0, 0.035);
    .container {
      padding: var(--container-padding-desktop);
      @media (max-width: 1040px) {
        padding: var(--container-padding-mobile);
      }
    }
  }

  .app-main {
    height: calc(100vh - 64px - 40px);
    .container {
      height: 100%;
      display: flex;
      justify-content: center;
      padding: var(--container-padding-desktop);
      @media (max-width: 1040px) {
        padding: var(--container-padding-mobile);
      }
      .search-wrap {
        width: 100%;
        max-width: 500px;
      }
    }
  }
  .app-footer {
    height: 40px;
  }
}

.user-search {
  width: 100%;
  margin-top: 150px;
  @media (max-width: 1040px) {
    margin-top: 80px;
  }
  .user-search-wrap {
    width: 100%;
  }
  #user-search-select {
    height: 31px;
    .search-text-field {
    }
  }
}

.user-search-skeleton {
  width: 100%;
  width: 500px;
  height: 64px;
  position: relative;
  background-color: #e7e7e7;
  border-radius: 8px;
  @media (max-width: 1040px) {
    width: 100% !important;
    max-width: 100%;
  }
  &.animate-pulse.user-search-skeleton--dark {
    background-color: #555555;
    .placeholder-skeleton {
      background-color: #727272 !important;
    }
    .chevron-skeleton {
      background-color: #727272 !important;
    }
  }
  .inner {
    height: 100%;
    padding: 13px;
    .placeholder-skeleton {
      width: 40%;
      background-color: #c5c5c5;
      height: 24px;
    }
    .chevron-skeleton {
      width: 12px;
      height: 12px;
      background-color: #c5c5c5;
    }
  }
}
